<div style="background-image: url(<%=photo.urls.regular%>);" class="domum-background">
</div>

<div class="d-flex flex-row align-items-center justify-content-between">
    <h2 class="lead m-0 logo">DOMUM</h2>
    <div class="d-flex flex-row align-items-center justify-content-end">
        <i class="fas fa-user-circle"></i>
        <a href="/users/logout" class="btn btn-secondary logout-btn mt-1">Logout</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="time text-center">
            <span id='hr'>0</span>
            <span>:</span>
            <span id='min'>0</span>
            <span>:</span>
            <span id='sec'>0</span>
        </div>
        <div class="text-center welcome-message">
            <h2 class="m-0"><%= greeting %> <%= user.shortName %></h2>
        </div>
    </div>
</div>


<script>

    const hr = document.getElementById('hr');
    const min = document.getElementById('min');
    const sec = document.getElementById('sec');

    const pad = (num) => {
        return num < 10 ? '0' + num : num;
    }

    const setTime = () => {
        hr.innerText = new Date().getHours();
        min.innerText = pad(new Date().getMinutes());
        sec.innerText = pad(new Date().getSeconds());
    }

    setTime();
    setInterval(() => setTime(), 1000);

</script>